<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo.css')}}">
    <title>PRINCIPAL</title>
</head>

<body>
    <div class="container">
        <h1>LISTADO DE USUARIOS, Bienvenido {{session['usuario']}}</h1>
        <div class="botones">
            <button class="registra"><a href="{{ url_for('registrar_usuario') }}">Agregrar Usuario</a></button>
            <button class="agregar"><a href="{{ url_for ('registrar_cancion')}}">Agregar Cancion</a></button>
            <button class="canciones"><a href="{{ url_for ('lista_cancion')}}">Editar Canciones</a></button>
            <button class="cerrar"><a href="/logout">Cerrar Sesión</a></button>
        </div>

        

        <table>
            
            <tr>
               
                <th>CÓDIGO</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EMAIL</th>
                <th>DIRECCIÓN</th>
                <th>TELÉFONO</th>
                <th>USUARIO</th>
                <th>ACCIONES</th>
            </tr>

            <tbody>
                {% for usuario in personas %}
                <tr  class="lineas">
                    <td>{{usuario[0] }}</td>
                    <td>{{usuario[1] }}</td>
                    <td>{{usuario[2] }}</td>
                    <td>{{usuario[3] }}</td>
                    <td>{{usuario[4] }}</td>
                    <td>{{usuario[5] }}</td>
                    <td>{{usuario[6] }}</td>
                    <td>
                        <a href="{{ url_for('editar_usuario', id=usuario[0]) }}">Editar</a>
                        <a href="{{ url_for('eliminar_usuario', id=usuario[0]) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>

</body>

</html>