<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo4.css')}}">
   
    <title>LISTADO CANCIONES</title>
    
</head>
<body>
    <div class="container">
        <h1>LISTA DE CANCIONES</h1>

        <table class="tabla">
            
            <tr>
               
                <th>CÓDIGO</th>
                <th>TITULO</th>
                <th>ARTISTA</th>
                <th>GÉNERO</th>
                <th>PRECIO</th>
                <th>DURACIÓN</th>
                <th>LANZAMIENTO</th>
                <th>PORTADA</th>
                <th>ACCIONES</th>
            </tr>

            <tbody>
                {% for cancion in cancioneslista %}
                <tr class="lineas">
                    <td>{{cancion.id_can }}</td>
                    <td>{{cancion.titulo}}</td>
                    <td>{{cancion.artista}}</td>
                    <td>{{cancion.genero }}</td>
                    <td>{{cancion.precio}}</td>
                    <td>{{cancion.duraccion}}</td>
                    <td>{{cancion.lanzamiento}}</td>
                    <td><img src="data:image/jpeg; base64,{{cancion.imagen}}" alt="Portada de {{cancion[7]}}" width="100"></td>
                    <td>
                        <button><a href="{{ url_for('actualizar_canciones', id=cancion[0]) }}">Editar</a></button>
                        <button><a href="{{ url_for('eliminar_cancion', id=cancion[0]) }}">Eliminar</a></button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
    
</body>
</html>