<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo4.css')}}">
   
    <title>LISTADO CANCIONES</title>
    
</head>
<body>
    <div class="container">
        <h1>LISTA DE CANCIONES {{session['usuario']}}</h1>
        <button class="cerrar"><a href="/logout">Cerrar Sesión</a></button>
        <table class="tabla">
            
            <tr>
               
                <th>TITULO</th>
                <th>ARTISTA</th>
                <th>GÉNERO</th>
                <th>PRECIO</th>
                <th>DURACIÓN</th>
                <th>LANZAMIENTO</th>
                <th>PORTADA</th>
            </tr>

           
            <tbody>
                {% for canciones in canciones %}
                <tr class="lineas">
                
                    <td>{{canciones.titulo}}</td>
                    <td>{{canciones.artista }}</td>
                    <td>{{canciones.genero}}</td>
                    <td>{{canciones.precio }}</td>
                    <td>{{canciones.duracion}}</td>
                    <td>{{canciones.lanzamiento}}</td>

                    <td><img src="data:image/jpeg; base64,{{canciones.imagen}}" alt="Nos encuentra imagen" width="100px"></td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
    
</body>
</html>