<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTADO CANCIONES</title>
</head>
<body>
    <div class="container">
        <h1>LISTA CANCIONES</h1><br>
        <table>
            
            <tr>
               
                <th>CÓDIGO</th>
                <th>TITULO</th>
                <th>ARTISTA</th>
                <th>GÉNERO</th>
                <th>PRECIO</th>
                <th>DURACIÓN</th>
                <th>LANZAMIENTO</th>
                <th>PORTADA</th>
            </tr>

            <tbody>
                {% for cancion in canciones %}
                <tr>
                    <td>{{cancion[0] }}</td>
                    <td>{{cancion[1] }}</td>
                    <td>{{cancion[2] }}</td>
                    <td>{{cancion[3] }}</td>
                    <td>{{cancion[4] }}</td>
                    <td>{{cancion[5] }}</td>
                    <td>{{cancion[6] }}</td>
                    <td><img src="{{ ruta_imagen }}" alt="Portada de {{ cancion[1] }}" style="width: 100px;"></td>
                    <td>
                        <a href="{{ url_for('actualizar_canciones', id=cancion[0]) }}">Editar</a>
                        <a href="{{ url_for('eliminar_cancion', id=cancion[0]) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
    
</body>
</html>