<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo5.css')}}">
    

    <title>INICIO SESIÓN</title>
</head>
<body>
    <div class="contenedor">
        <div class="titulo">
            <h1>INGRESE SU USUARIO</h1>
        </div>
        <div class="formu">
            <form action="/login"  method="post">
                <br><label>USUARIO:</label>
                <input class="us" type="text" placeholder="Usuario" name="usuarioinir" required><br>
                <br><label>CONTRASEÑA:</label>
                <input type="password" placeholder="Ingrese Contraseña" name="contraini" required><br>
                <div class="enviar">
                    <br><button class="boton" type="submit">INICIAR SESIÓN</button>
                </div>

            </form>
        </div>
    </div>
    
</body>
</html> 