<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo1.css')}}">
    <title>REGISTRAR</title>
</head>
<body>
    <div class="container">
        <h1>REGISTRAR USUARIOS</h1>
        <form>
            <div class="formulario">
            <label >NOMBRE:</label>
            <input type="text" placeholder="Ingrese su Nombre"><br>
            <label >APELLIDO: </label>
            <input type="text" placeholder="Ingrese su apellido"><br>
            <label>CORREO ELECTRONICO:</label>
            <input type="email" placeholder="Ingrese su correo"><br>
            <label>DIRECCION: </label>
            <input type="text" placeholder="Ingrese su direccion"><br>
            <label >TELEFONO: </label>
            <input type="tel" placeholder="Ingrese su Telefono"><br>
            <button type="submit">REGISTRAR</button>
        </div>
        </form>
    </div>
    
</body>
</html>